.cases {
    display: grid;
    justify-content: center;
    align-content: flex-start;
}
.cases-header {
    width: 100vw;
    font-size: 3em;
    color: #2E1114;
    padding: 25px 0;
    background-color: #f8e9a1;
}
.cases-btn {
    background-color: transparent;
    color: #2E1114;
    transition: ease-in-out .4s;
}
.cases-btn:hover {
    background: transparent !important;
    transform: rotate(180deg);
    color: #3b945e;
}
.cases-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.cases-body-error {
    width: 100%;
    height: auto;
}
.cases-body-error span{
    font-size: 10em;
    color: red;
}
.cases-body .card {
    margin: 25px;
} 
.cases-btn button {
    background-color: inherit;
}
.cases-container-preloader {
    display: grid;
    justify-self: center;
    padding-top: 50vh;
}
@media screen and (max-width: 1024px) {
    .cases-body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
    .cases-body {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
  }
@media only screen and (max-width: 639px) {
    .cases-body {
        display: grid;
        grid-template-columns: 1fr;
    }
}