
.body-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    align-content: center;
    color: #000;
}
.body-menu a {
    color: #000;
}
.body-menu a:hover {
    color: #4C212A;
}
.body-menu-cases {
    text-align: end;
    color: #4C212A;
}
.body-menu-search {
    text-align: start;
}
