.header {
    background-color: #4C212A;
    height: 100px;
    margin: 0;
    padding: 0;
    align-content: center;
    display: flex;
    position: absolute;
}
.navbar {
    justify-content: space-between;
}
.header-log {
    display: inline-flex;
    
}
.header-login {
    align-self: center;
    margin-right: 10px;
}
.header-button {
    color: #F4FFF8;
}
.header-button:hover {
    color: #8BAAAD;
}
a {
    color: red;
}
a:hover{
    color: #F4FFF8;
}