.header {
    background-color: #2E1114;
    height: 100px;
    margin: 0;
    padding: 20px;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.header-brand {

}
.header-cases a{
    text-decoration: none;
    color: #2E1114;
}
.header-search {
    justify-content: center;
}
<<<<<<< HEAD
.header-search-btn {
    margin: 10px;
=======

.header-search-visible {
    width: 150px !important;
    transition: ease-in .3s;
}
.header-search-hiden {
    opacity: 0;
    width: 0px !important;
    transition: ease-in .3s;
    padding: 0;
    margin: 0 0 0 -12px;
>>>>>>> 08f07972f991d5246b0d9482685465b410e88742
}
.header-login-greating {
    color: #f8e9a1;
    padding: 5px;
}
.header-login-btn{
    background-color: #3b945e;
}
.header-login-btn:hover{
    background-color: #3b945e !important;
}
.header-logout-btn{
    background-color: #f76c6c;
}
.header-logout-btn:hover{
    background-color: #f76c6c !important;
}
.header-login a {
    text-decoration: none;
    color: #2E1114;
}

/* Ipad */
@media screen and (max-width: 1024px) {
    .header {
        height: 100px;
        margin: 0;
        padding: 10px;
        grid-template-columns: 1fr 1fr 4fr 2fr
    }
    .header-search-input {
        margin-bottom: 5px;
    }
}
/* Mobile */
@media screen and (max-width: 768px) {
    .header {
        height: 130px;
        margin: 0;
        padding: 10px;
        grid-template-columns: 1fr 1fr;
    }
    .header-brand {
        font-size: 1em;
    }
    .header-search-input {
        margin-bottom: 5px;
    }
    .header-login-greating {
        font-size: .8rem;
        color: #f8e9a1;
        padding: 5px;
    }
}