.header {
    background-color: #4C212A;
    height: 100px;
    margin: 0;
    padding: 0;
    align-content: center;
    display: grid;
    position: absolute;
}
.header-button {
    color: #F4FFF8;
}
.header-button:hover {
    color: #8BAAAD;
}
a {
    color: red;
}