.cases {
    padding: 100px 0;
    display: grid;
    justify-content: center;
    align-content: flex-start;
}
.cases-header {
    padding-bottom: 50px;
}
.cases-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.cases-body .card {
    margin: 25px;
} 
.cases-btn button {
    background-color: inherit;
}