.login {
    padding: 100px 0 0 0;
}
.login-form {
    display: inline-block;
    padding-top: 50px;
    width:50%;
    justify-self: center;
}
.login-header {
    font-size: 3em;
    color: #2E1114;
    padding: 25px 0;
    background-color: #f8e9a1;
}
.login-btn:hover{
    background-color: #3b945e !important;
}